@use '@wide/styles-utils' as utils;
@use '../variables' as *;

///
/// 1. Change from `box-sizing: content-box` so that `width` is not affected
///    by `padding` or `border`.
///
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box; // -> [1]
  }
}

///
/// 1. Set the default `font-size` and `line-height` for the entire project,
///    sourced from our default variables.
/// 2. Ensure the page always fills at least the entire height of the viewport.
/// 3. Set base font-size to equiv "10px", which is adapted to rem unit.
/// 4. IE9-IE11 math fixing.
/// 5. Prevent adjustments of font size after orientation changes in IE
///    on Windows Phone and in iOS.
/// 6. Change the default tap highlight to be completely transparent in iOS.
///
html {
  min-height: 100%; // -> [2]
  overflow-y: auto;
  color: $color;
  font-family: $font-system;
  font-size: 62.5%; // -> [3]
  font-size: calc(1em * .625); // -> [4]
  font-variant-numeric: tabular-nums;
  line-height: $line-height; // -> [1]
  -webkit-text-size-adjust: 100%; // -> [5]
  -webkit-tap-highlight-color: rgba($color, 0); // -> [6]
  touch-action: manipulation;
}

body {
  margin: 0;
  font-size: utils.em($body-context, 16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: $color-selection-bg;
  color: $color-selection-text;
  text-shadow: none;
}

///
/// IE11 fix.
/// Declare main displayed as block.
/// Because it's an unknown element, by default the display is inline.
///
main {
  display: block;
}

///
/// Suppress the focus outline on elements that cannot be accessed via keyboard.
/// This prevents an unwanted focus outline from appearing around elements that
/// might still respond to pointer events.
///
[tabindex='-1'] {
  &:focus {
    outline: 0 !important;
  }
}

///
/// 1. Add the correct box sizing in Firefox.
/// 2. Show the overflow in Edge and IE.
///
hr {
  box-sizing: content-box; // -> [1]
  height: 0; // -> [1]
  overflow: visible; // -> [2]
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

///
/// Always hide an element with the `hidden` HTML attribute.
/// Needed for proper display in IE 10-.
///
[hidden] {
  display: none !important;
}
