@use '../variables' as *;

///
/// Apply a consistent margin strategy (matches our type styles).
///
figure {
  margin: 0 0 $margin-normal;
}

///
/// 1. Setting `vertical-align` removes the whitespace that appears under `img`
///    elements when they are dropped into a page as-is. Safer alternative to
///    using `display: block;`.
///
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; // -> [1]
}

///
/// Add the correct display in iOS 4-7.
///
audio {
  &:not([controls]) {
    display: none;
    height: 0;
  }
}

///
/// 1. Fluid media for responsive purposes.
/// 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
///    not make the image fluid.
///
img,
svg {
  max-width: 100%; // -> [1]
  height: auto;

  &[width],
  &[height] {
    max-width: none; // -> [2]
  }
}

///
/// 3. Offset `alt` text from surrounding copy.
///
img {
  font-style: italic; // -> [3]
}

///
/// 4. Workaround for the SVG overflow bug in IE10/11 is still required.
///    See https://github.com/twbs/bootstrap/issues/26878
/// 5. SVG elements should fallback to their surrounding text color.
///
svg {
  overflow: hidden; // -> [4]
  fill: currentColor; // -> [5]
}
