@use '../variables' as *;

@media print {
  * {
    &,
    &::before,
    &::after,
    &::first-letter,
    &::first-line {
      background: transparent !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }

  body {
    width: auto;
    margin: auto;
    font-family: serif;
    font-size: 12pt;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  label,
  ul,
  ol {
    margin: auto;
    color: $color;
  }

  .print {
    display: block;
  }

  .no-print {
    display: none;
  }

  p,
  blockquote {
    orphans: 3;
    widows: 3;
  }

  pre,
  blockquote,
  ul,
  ol,
  tr,
  img {
    break-inside: avoid;
  }

  pre,
  blockquote {
    border: 1px solid $color;
  }

  thead {
    display: table-header-group;
  }

  h1,
  h2,
  h3,
  caption {
    break-after: avoid;
  }

  img {
    max-width: 100% !important;
  }

  a {
    &,
    &:visited {
      color: $color;
      text-decoration: underline;
    }

    &[href] {
      &::after {
        content: ' (' attr(href) ')';
      }
    }

    &[title] {
      &::after {
        content: ' (' attr(title) ')';
      }
    }

    &[href^='javascript:'],
    &[href^='#'] {
      &::after {
        content: '';
      }
    }
  }
}
